@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: rgba(53, 53, 53, 1);
    --sidebar-color: rgba(36, 36, 36, 1);
    --menu-color: rgba(36, 36, 36, 1);
    --primary-color: rgba(75, 142, 255, 1);
    --primary-color-light: rgba(114, 166, 255, 1);
    --text-color: rgba(212, 212, 212, 1.0);
    --options-color: rgba(44, 44, 44, 1);
    --highlight-color: rgba(255, 255, 255, 1);

    --font-minecraft: "Minecraft", sans-serif;

    --text-color-preview: rgba(212, 212, 212, 1);
    --highlight-color-preview: rgba(255, 255, 255, 1);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;    
    --tran-05: all 0.5s ease;
}

body {
    font-family: var(--font-minecraft);
    height: 100vh;
    background: var(--body-color);
    overflow: hidden;
}

.titlebar {
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-app-region: drag;
}

.watermark {
    width: auto;
}
.watermark button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.menu_button img {
    height: 60px;
}

.name {
    width: auto;
    top: 15px;
}

.name img {
    height: 25px;
    margin-left: 10px;
}

.search {
    margin-left: calc(300px + (100vw - 1000px));
    top: 5px;
    color: var(--text-color);
}

.search input {
    background: transparent;
    width: 200px;
    height: 40px;
    border: 2px solid var(--text-color);
    padding: 10px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
    -webkit-app-region: no-drag
}

.search input::placeholder {
    color: var(--text-color);
    left: 10px;
}

.search input:hover {
    border: 2px solid var(--primary-color);
}

.search input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.manage_app_icons {
    height: 50px;
    width: auto;
    margin-left: auto;
    background-color: var(--sidebar-color);
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.custom_close_button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.custom_minimize_button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    margin-right: -5px;
}

.custom_minimize_button img,
.custom_close_button img {
    -webkit-user-drag: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
}

.custom_minimize_button .minimize_active,
.custom_minimize_button .minimize_pressed,
.custom_close_button .close_active,
.custom_close_button .close_pressed {
    opacity: 0;
}

.custom_minimize_button:hover .minimize_inactive,
.custom_close_button:hover .close_inactive {
    opacity: 0;
}
.custom_minimize_button:active .minimize_inactive,
.custom_close_button:active .close_inactive {
    opacity: 0;
}

.custom_minimize_button:hover .minimize_active,
.custom_close_button:hover .close_active {
    opacity: 1;
}

.custom_minimize_button:active .minimize_pressed,
.custom_close_button:active .close_pressed {
    opacity: 1;
}


.stats {
    color: var(--text-color);
    width: auto;
    height: auto;
    position: relative;
}

.stats table {
    user-select: none;
    width: 100%;
    border-collapse: collapse;
}

.stats table th,
.stats table td {
    text-align: center;
    padding: 5px;
}

.stats table th {
    color: var(--highlight-color);
    font-size: 13px;
}

.menu {
    left: -250px;
    position: absolute;
    width: 250px;
    height: calc(100vh - 50px);
    background-color: var(--menu-color);
    transition: var(--tran-03);
}

.buttons {
    position: relative;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.buttons button {
    font-family: var(--font-minecraft);
    color: var(--text-color);
    background: transparent;
    border: none;
    text-align: left;
    width: 250px;
    padding: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.buttons button img {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
}

.buttons button p {
    font-size: 16px;
    margin-left: 30px;
}

.buttons button:hover {
    color: var(--primary-color);
    background-color: var(--body-color);
}

.profile_button:hover .account_inactive,
.settings_button:hover .settings_inactive,
.shortcuts_button:hover .keyboard_inactive,
.appearance_button:hover .appearance_inactive,
.antisniper_button:hover .antisniper_inactive {
    opacity: 0;
}


.profile_menu,
.settings_menu,
.shortcuts_menu,
.appearance_menu,
.antisniper_menu {
    background-color: var(--options-color);
    display: block;
    position: absolute;
    width: calc(100vw);
    height: calc(100vh - 50px);
    left: -100vw;
    transition: all 0.3s ease-out;
    overflow: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.profile_heading {
    align-items: left;
    display: block;
    flex-direction: column;
}

.profile_heading h1 {
    font-size: 20px;
    color: var(--highlight-color);
    padding: 10px;
}

.player_settings {
    width: calc(730px + 100vw - 1000px);
    height: auto;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: block;
    position: relative;
}

.player_settings_border_gap {
    width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    background-color: var(--options-color);
    font-size: 13px;
    border: 2px solid var(--options-color);
}

.player_ign {
    display: flex;
    margin: 10px;
    margin-top: 20px;
}

.player_ign p {
    font-size: 16px;
    padding-top: 7px;
    font-family: var(--font-minecraft);
    color: var(--highlight-color);
}

.player_ign input {
    background: transparent;
    width: calc(580px + 100vw - 1000px);
    padding: 5px;
    margin-left: 10px;
    border: 2px solid var(--text-color);
    font-size: 16px;
    font-family: var(--font-minecraft);
    color: var(--text-color);
}

.player_ign input:hover {
    border: 2px solid var(--primary-color);
}

.player_ign input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.player_ign input::placeholder {
    font-size: 16px;
    font-family: var(--font-minecraft);
    color: var(--text-color);
}

.player_api_key {
    display: flex;
    position: relative;
    margin: 10px;
}

.player_api_key p {
    font-size: 16px;
    padding-top: 7px;
    color: var(--highlight-color);
}

.player_api_key input {
    background: transparent;
    width: calc(580px + 100vw - 1000px);
    padding: 5px;
    margin-left: 34px;
    border: 2px solid var(--text-color);
    font-size: 16px;
    font-family: var(--font-minecraft);
    color: var(--text-color);
}

.player_api_key input:hover {
    border: 2px solid var(--primary-color);
}

.player_api_key input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.player_api_key input::placeholder {
    font-size: 16px;
    font-family: var(--font-minecraft);
    color: var(--text-color);
}

.appearance_heading h1 {
    font-size: 20px;
    color: var(--highlight-color);
    padding: 10px;
}

.appearance_text {
    width: calc(730px + 100vw - 1000px);
    height: auto;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: block;
    position: relative;
}

.appearance_text_border_gap {
    width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    background-color: var(--options-color);
    font-size: 13px;
    border: 2px solid var(--options-color);
}

.font_family {
    margin: 10px;
}

.font_family p {
    font-size: 16px;
    padding-top: 10px;
    color: var(--highlight-color);
}

.font_family_buttons button {
    background: transparent;
    height: 40px;
    border: 2px solid var(--text-color);
    padding: 5px;
    color: var(--text-color);
    cursor: pointer;
}

.font_family_button_minecraft {
    font-family: "Minecraft", sans-serif;
    margin-top: 10px;
    font-size: 12px;
}

.font_family_button_menlo {
    font-family: "Menlo", sans-serif;
    margin-top: -5px;
    font-size: 15px;
}

.font_family_button_poppins {
    font-family: "Poppins", sans-serif;
    margin-top: -5px;
    font-size: 15px;
}

.font_family_buttons button:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.text_color {
    margin: 10px;
    margin-top: 30px;
}

.text_color h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--highlight-color);
}

.text_color_slider_red,
.text_color_slider_green,
.text_color_slider_blue,
.text_color_slider_alpha {
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;   
}

.text_color_slider_red p,
.text_color_slider_green p,
.text_color_slider_blue p,
.text_color_slider_alpha p {
    width: 150px;
    color: var(--text-color);
    font-size: 15px;
}

.text_color_slider_red #text_color_red_slider,
.text_color_slider_green #text_color_green_slider,
.text_color_slider_blue #text_color_blue_slider,
.text_color_slider_alpha #text_color_alpha_slider {
    width: calc(500px + 100vw - 1000px);
    position: absolute;
    margin-left: 75px;
    margin-top: 9px;
    -webkit-appearance: none;
    height: 5px;
    background-color: var(--text-color);
    outline: none;
}

.text_color_slider_red #text_color_red_slider::-webkit-slider-thumb,
.text_color_slider_green #text_color_green_slider::-webkit-slider-thumb,
.text_color_slider_blue #text_color_blue_slider::-webkit-slider-thumb,
.text_color_slider_alpha #text_color_alpha_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--options-color);
}

.text_color_slider_red #text_color_red_slider::-webkit-slider-thumb {
    border: 3px solid red;
}

.text_color_slider_green #text_color_green_slider::-webkit-slider-thumb {
    border: 3px solid green;
}

.text_color_slider_blue #text_color_blue_slider::-webkit-slider-thumb {
    border: 3px solid blue;
}

.text_color_slider_alpha #text_color_alpha_slider::-webkit-slider-thumb {
    border: 3px solid gray;
}

.text_color_slider_red #text_color_red_slider_value,
.text_color_slider_green #text_color_green_slider_value,
.text_color_slider_blue #text_color_blue_slider_value,
.text_color_slider_alpha #text_color_alpha_slider_value {
    position: absolute;
    margin-left: calc(600px + 100vw - 1000px);
    width: 50px;
    background: transparent;
    border: none;
    font-size: 14px;
    text-align: right;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.text_color_slider_red #text_color_red_slider_value::-webkit-inner-spin-button,
.text_color_slider_red #text_color_red_slider_value::-webkit-outer-spin-button,
.text_color_slider_green #text_color_green_slider_value::-webkit-inner-spin-button,
.text_color_slider_green #text_color_green_slider_value::-webkit-outer-spin-button,
.text_color_slider_blue #text_color_blue_slider_value::-webkit-inner-spin-button,
.text_color_slider_blue #text_color_blue_slider_value::-webkit-outer-spin-button,
.text_color_slider_alpha #text_color_alpha_slider_value::-webkit-inner-spin-button,
.text_color_slider_alpha #text_color_alpha_slider_value::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.text_color_slider_red #text_color_red_slider_value::placeholder,
.text_color_slider_green #text_color_green_slider_value::placeholder,
.text_color_slider_blue #text_color_blue_slider_value::placeholder,
.text_color_slider_alpha #text_color_alpha_slider_value::placeholder {
    text-align: right;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.color_preview_and_hex {
    position: relative;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.color_preview_and_hex p {
    position: absolute;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.color_preview_and_hex p#color_preview_hex {
    margin-left: calc(530px + 100vw - 1000px);
}

.color_preview {
    position: absolute;
    height: 20px;
    width: 30px;
    border: 3px solid var(--sidebar-color);
    background-color: var(--text-color-preview);
    margin-left: 80px;
}

.color_preview_and_hex button {
    font-family: var(--font-minecraft);
    color: var(--text-color);
    font-size: 14px;
    background: transparent;
    border: 2px solid var(--text-color);
    position: absolute;
    padding: 5px;
    margin-left: calc((600px + 100vw - 1000px)/2);
    cursor: pointer;
}

.color_preview_and_hex button:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.color_preview_and_hex input {
    position: absolute;
    width: 80px;
    text-align: right;
    margin-left: calc(570px + 100vw - 1000px);
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
    background: transparent;
    border: none;
}

.color_preview_and_hex input::placeholder {
    font-size: 14px;
    text-align: right;
    color: var(--text-color-preview);
    font-family: var(--font-minecraft);
}

.heading_text_color {
    margin: 10px;
    margin-top: 30px;
}

.heading_text_color h1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--highlight-color);
}

.heading_text_color_slider_red,
.heading_text_color_slider_green,
.heading_text_color_slider_blue,
.heading_text_color_slider_alpha {
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;   
}

.heading_text_color_slider_red p,
.heading_text_color_slider_green p,
.heading_text_color_slider_blue p,
.heading_text_color_slider_alpha p {
    width: 150px;
    color: var(--text-color);
    font-size: 15px;
}

.heading_text_color_slider_red #heading_text_color_red_slider,
.heading_text_color_slider_green #heading_text_color_green_slider,
.heading_text_color_slider_blue #heading_text_color_blue_slider,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider {
    width: calc(500px + 100vw - 1000px);
    position: absolute;
    margin-left: 75px;
    margin-top: 9px;
    -webkit-appearance: none;
    height: 5px;
    background-color: var(--text-color);
    outline: none;
}

.heading_text_color_slider_red #heading_text_color_red_slider::-webkit-slider-thumb,
.heading_text_color_slider_green #heading_text_color_green_slider::-webkit-slider-thumb,
.heading_text_color_slider_blue #heading_text_color_blue_slider::-webkit-slider-thumb,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--options-color);
}

.heading_text_color_slider_red #heading_text_color_red_slider::-webkit-slider-thumb {
    border: 3px solid red;
}

.heading_text_color_slider_green #heading_text_color_green_slider::-webkit-slider-thumb {
    border: 3px solid green;
}

.heading_text_color_slider_blue #heading_text_color_blue_slider::-webkit-slider-thumb {
    border: 3px solid blue;
}

.heading_text_color_slider_alpha #heading_text_color_alpha_slider::-webkit-slider-thumb {
    border: 3px solid gray;
}

.heading_text_color_slider_red #heading_text_color_red_slider_value,
.heading_text_color_slider_green #heading_text_color_green_slider_value,
.heading_text_color_slider_blue #heading_text_color_blue_slider_value,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider_value {
    position: absolute;
    margin-left: calc(600px + 100vw - 1000px);
    width: 50px;
    background: transparent;
    border: none;
    font-size: 14px;
    text-align: right;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.heading_text_color_slider_red #heading_text_color_red_slider_value::-webkit-inner-spin-button,
.heading_text_color_slider_red #heading_text_color_red_slider_value::-webkit-outer-spin-button,
.heading_text_color_slider_green #heading_text_color_green_slider_value::-webkit-inner-spin-button,
.heading_text_color_slider_green #heading_text_color_green_slider_value::-webkit-outer-spin-button,
.heading_text_color_slider_blue #heading_text_color_blue_slider_value::-webkit-inner-spin-button,
.heading_text_color_slider_blue #heading_text_color_blue_slider_value::-webkit-outer-spin-button,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider_value::-webkit-inner-spin-button,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider_value::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.heading_text_color_slider_red #heading_text_color_red_slider_value::placeholder,
.heading_text_color_slider_green #heading_text_color_green_slider_value::placeholder,
.heading_text_color_slider_blue #heading_text_color_blue_slider_value::placeholder,
.heading_text_color_slider_alpha #heading_text_color_alpha_slider_value::placeholder {
    text-align: right;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.heading_color_preview_and_hex {
    position: relative;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.heading_color_preview_and_hex p {
    position: absolute;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
}

.heading_color_preview_and_hex p#heading_color_preview_hex {
    margin-left: calc(530px + 100vw - 1000px);
}

.heading_color_preview {
    position: absolute;
    height: 20px;
    width: 30px;
    border: 3px solid var(--sidebar-color);
    background-color: var(--highlight-color-preview);
    margin-left: 80px;
}

.heading_color_preview_and_hex button {
    font-family: var(--font-minecraft);
    color: var(--text-color);
    font-size: 14px;
    background: transparent;
    border: 2px solid var(--text-color);
    position: absolute;
    padding: 5px;
    margin-left: calc((600px + 100vw - 1000px)/2);
    cursor: pointer;
}

.heading_color_preview_and_hex button:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.heading_color_preview_and_hex input {
    position: absolute;
    width: 80px;
    text-align: right;
    margin-left: calc(570px + 100vw - 1000px);
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-minecraft);
    background: transparent;
    border: none;
}

.heading_color_preview_and_hex input::placeholder {
    font-size: 14px;
    text-align: right;
    color: var(--highlight-color-preview);
    font-family: var(--font-minecraft);
}