@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/menlo');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: rgba(53, 53, 53, 1);
    --titlebar-color: rgba(36, 36, 36, 1);
    --menu-color: rgba(36, 36, 36, 1);
    --options-color: rgba(44, 44, 44, 1);

    --primary-color: rgba(75, 142, 255, 1);

    --text-color: rgba(212, 212, 212, 1.0);
    --heading-color: rgba(255, 255, 255, 1);

    --active-font: "Minecraft", sans-serif;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;    
    --tran-05: all 0.5s ease;
}

body {
    font-family: var(--active-font);
    height: 100vh;
    background: var(--body-color);
    overflow: hidden;
}

.titlebar {
    top: 0;
    left: 0;
    background-color: var(--titlebar-color);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-app-region: drag;
}

.watermark {
    width: auto;
}
.watermark button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.menu_button img {
    height: 60px;
    -webkit-user-drag: none;
}

.name {
    width: auto;
    top: 15px;
}

.name img {
    height: 25px;
    margin-left: 10px;
}

.search {
    margin-left: calc(300px + (100vw - 1000px));
    top: 5px;
    color: var(--text-color);
}

.search input {
    background: transparent;
    width: 200px;
    height: 40px;
    border: 2px solid var(--text-color);
    padding: 10px;
    color: var(--text-color);
    font-family: var(--active-font);
    -webkit-app-region: no-drag
}

.search input::placeholder {
    color: var(--text-color);
    left: 10px;
}

.search input:hover {
    border: 2px solid var(--primary-color);
}

.search input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.manage_app_icons {
    height: 50px;
    width: auto;
    margin-left: auto;
    background-color: var(--titlebar-color);
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.custom_close_button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.custom_minimize_button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    margin-right: -5px;
}

.custom_minimize_button img,
.custom_close_button img {
    -webkit-user-drag: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
}

.custom_minimize_button .minimize_active,
.custom_minimize_button .minimize_pressed,
.custom_close_button .close_active,
.custom_close_button .close_pressed {
    opacity: 0;
}

.custom_minimize_button:hover .minimize_inactive,
.custom_close_button:hover .close_inactive {
    opacity: 0;
}
.custom_minimize_button:active .minimize_inactive,
.custom_close_button:active .close_inactive {
    opacity: 0;
}

.custom_minimize_button:hover .minimize_active,
.custom_close_button:hover .close_active {
    opacity: 1;
}

.custom_minimize_button:active .minimize_pressed,
.custom_close_button:active .close_pressed {
    opacity: 1;
}


.stats {
    color: var(--text-color);
    width: auto;
    height: auto;
    position: relative;
}

._stats_table table {
    user-select: none;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

._stats_table table th,
._stats_table table td {
        text-align: center;
        padding: 5px;
}

._stats_table table th {
    color: var(--heading-color);
    font-size: 13px;
}

._stats_table {
    height: auto;
    overflow: auto;
}

.menu {
    left: -250px;
    position: absolute;
    width: 250px;
    height: calc(100vh - 50px);
    background-color: var(--menu-color);
    transition: var(--tran-03);
}

.buttons {
    position: relative;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.buttons button {
    font-family: var(--active-font);
    color: var(--text-color);
    background: transparent;
    border: none;
    text-align: left;
    width: 250px;
    padding: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.buttons button img {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
}

.buttons button p {
    font-size: 16px;
    margin-left: 30px;
}

.buttons button:hover {
    color: var(--primary-color);
    background-color: var(--body-color);
}

.profile_button:hover .account_inactive,
.settings_button:hover .settings_inactive,
.shortcuts_button:hover .keyboard_inactive,
.appearance_button:hover .appearance_inactive,
.antisniper_button:hover .antisniper_inactive {
    opacity: 0;
}


.profile_menu,
.settings_menu,
.shortcuts_menu,
.appearance_menu,
.antisniper_menu {
    background-color: var(--options-color);
    display: block;
    position: absolute;
    width: calc(100vw);
    height: calc(100vh - 50px);
    left: -100vw;
    transition: all 0.3s ease-out;
    overflow: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.profile_heading {
    align-items: left;
    display: block;
    flex-direction: column;
}

.profile_heading h1 {
    font-size: 20px;
    color: var(--heading-color);
    padding: 10px;
}

.player_settings {
    width: calc(730px + 100vw - 1000px);
    height: auto;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: block;
    position: relative;
}

.player_settings_border_gap {
    width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    background-color: var(--options-color);
    font-size: 13px;
    border: 2px solid var(--options-color);
}

.player_ign {
    display: flex;
    margin: 10px;
    margin-top: 20px;
}

.player_ign p {
    font-size: 16px;
    padding-top: 7px;
    font-family: var(--active-font);
    color: var(--heading-color);
}

.player_ign input {
    background: transparent;
    width: calc(580px + 100vw - 1000px);
    padding: 5px;
    margin-left: 10px;
    border: 2px solid var(--text-color);
    font-size: 16px;
    font-family: var(--active-font);
    color: var(--text-color);
}

.player_ign input:hover {
    border: 2px solid var(--primary-color);
}

.player_ign input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.player_ign input::placeholder {
    font-size: 16px;
    font-family: var(--active-font);
    color: var(--text-color);
}

.player_api_key {
    display: flex;
    position: relative;
    margin: 10px;
}

.player_api_key p {
    font-size: 16px;
    padding-top: 7px;
    color: var(--heading-color);
}

.player_api_key input {
    background: transparent;
    width: calc(580px + 100vw - 1000px);
    padding: 5px;
    margin-left: 34px;
    border: 2px solid var(--text-color);
    font-size: 16px;
    font-family: var(--active-font);
    color: var(--text-color);
}

.player_api_key input:hover {
    border: 2px solid var(--primary-color);
}

.player_api_key input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.player_api_key input::placeholder {
    font-size: 16px;
    font-family: var(--active-font);
    color: var(--text-color);
}

.appearance_heading h1 {
    font-size: 20px;
    color: var(--heading-color);
    padding: 10px;
}

.appearance_text {
    width: calc(730px + 100vw - 1000px);
    height: auto;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: block;
    position: relative;
}

.appearance_text_border_gap {
    width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    background-color: var(--options-color);
    font-size: 13px;
    border: 2px solid var(--options-color);
}

.font_family {
    margin: 10px;
}

.font_family p {
    font-size: 16px;
    padding-top: 10px;
    color: var(--heading-color);
}

#font_family_dropdown  {
    margin: 10px;
    background: none;
    border: 2px solid var(--text-color);
    font-family: var(--active-font);
    color: var(--text-color);
}

.font_color {
    margin-top: 10px;
    margin-left: 10px;
}

.font_color h1 {
    color: var(--heading-color);
    font-size: 16px;
}

.font_color_settings {
    display: flex;
    align-items: flex-start;
    width: calc(700px + 100vw - 1000px)
}

.font_color_texts {
    flex: 1;
    margin-left: 10px;
}

.font_color_texts p {
    margin-bottom: 10px;
    margin: 2px;
    font-size: 15px;
    font-weight: 300;
    color: var(--font-color);
}

.font_color_inputs {
    margin-bottom: 10px;
}

.font_color_inputs input[type="color"] {
    margin: 2px;
    height: 20px;
    width: 50px;
    padding: 0;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.font_color_inputs input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.font_color_inputs input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--text-color);
    border-radius: 0;
}

.appearance_category_gap {
    height: 10px;
}

.appearance_background {
    width: calc(730px + 100vw - 1000px);
    height: auto;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: block;
    position: relative;
}

.appearance_background_border_gap {
    width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    box-sizing: border-box;
    background-color: var(--options-color);
    font-size: 13px;
    border: 2px solid var(--options-color);
}

.background_alpha {
    margin: 10px;
}

.background_alpha p {
    font-size: 16px;
    padding-top: 10px;
    color: var(--heading-color);
}

.background_alpha_changer {
    display: flex;
}

.background_alpha_changer input {
    -webkit-appearance: none;
    appearance: none;
    margin: 10px;
    width: calc(620px + 100vw - 1000px);
}

.background_alpha_changer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    background-color: var(--heading-color);
}

.background_alpha_changer input::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: var(--text-color);
}

.background_alpha_changer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.background_alpha_changer p {
    margin-top: -8px;
    margin-left: 10px;
}

.background_color {
    margin-top: 10px;
    margin-left: 10px;
}

.background_color h1 {
    color: var(--heading-color);
    font-size: 16px;
}

.background_color_settings {
    display: flex;
    align-items: flex-start;
    width: calc(700px + 100vw - 1000px)
}

.background_color_texts {
    flex: 1;
    margin-left: 10px;
}

.background_color_texts p {
    margin-bottom: 10px;
    margin: 2px;
    font-size: 15px;
    font-weight: 300;
    color: var(--font-color);
}

.background_color_inputs {
    margin-bottom: 10px;
}

.background_color_inputs input[type="color"] {
    margin: 2px;
    height: 20px;
    width: 50px;
    padding: 0;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.background_color_inputs input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.background_color_inputs input[type="color"]::-webkit-color-swatch {
    border: 1px solid var(--text-color);
    border-radius: 0;
}

.antisniper_menu h1 {
    margin: 10px;
}